In [44]:
from sklearn.naive_bayes import GaussianNB
from sklearn.cross_validation import train_test_split
import pandas as pd
import numpy as np

In [45]:
a = pd.read_csv('kesetaraan.csv', delimiter=',')

In [50]:
a.head()

    kd_asli kd_pasangan
0  FSK10111    FSK10111
1  FSK10111    IKI10030
2  FSK10111    IKI10030
3  FSK10111  UIST601111
4  FSK10111  UIST601111

In [47]:
a.columns = ['no', 'kd_asli', 'krk_lama', 'kd_pasangan', 'krk_pasangan' ]
a = a.drop(columns=['no', 'krk_lama', 'krk_pasangan'])

In [51]:
b = pd.read_csv('nama_matkul.csv', delimiter=',')
b.head()

                      Nama_Matkul      Kode
0             Administrasi Sistem  IKS32753
1          Aljabar Linier Numerik  IKO41154
2                Analisis Numerik  IKO32104
3  Aproksimasi & Sistem Nonlinier  IKO41153
4                      Basis Data  IKI20700

In [53]:
c = b.set_index('Kode').join(a.set_index('kd_asli'))

In [56]:
c.dropna(inplace=True)

In [59]:
c.to_csv('info_matkul_final.csv', sep=',')