In [2]:
from sklearn.naive_bayes import GaussianNB
from sklearn.cross_validation import train_test_split
import pandas as pd
import numpy as np

In [8]:
a = pd.read_csv('kesetaraan.csv', delimiter='\t')

In [12]:
a.head()

   no   kd_asli          krk_lama kd_pasangan      krk_pasangan
0   2  IKI10030  01.00.12.01-2009    FSK10111  06.00.12.01-2010
1   3  IKI10030  01.00.12.01-2009    FSK10111  08.00.12.01-2011
2   4  IKI10030  01.00.12.01-2009    IKI10030  01.00.12.01-2002
3   5  IKI10030  01.00.12.01-2009    IKI10030  01.00.12.01-2006
4   6  IKI10030  01.00.12.01-2009  UIST601111  01.00.12.01-2012

In [11]:
a.columns = ['no', 'kd_asli', 'krk_lama', 'kd_pasangan', 'krk_pasangan' ]