In [32]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE

In [37]:
anum_df = pd.read_csv('anum.csv')

In [38]:
anum_df

      pras1  pras2            y
0       3.0    2.0    hati hati
1       3.0    2.0    hati hati
2       4.0    4.0    hati hati
3       4.0    4.0    hati hati
4       4.0    4.0    hati hati
5       4.0    4.0    hati hati
6       4.0    4.0    hati hati
7       4.0    4.0    hati hati
8       3.0    4.0    hati hati
9       3.0    4.0    hati hati
10      3.0    4.0    hati hati
11      4.0    3.0        lulus
12      4.0    3.0        lulus
13      4.0    3.0        lulus
14      4.0    3.0        lulus
15      4.0    3.0    hati hati
16      4.0    3.0    hati hati
17      2.0    2.0    hati hati
18      2.0    2.0    hati hati
19      2.0    2.0    hati hati
20      2.0    3.0        lulus
21      2.0    3.0        lulus
22      2.0    3.0        lulus
23      4.0    4.0    hati hati
24      4.0    4.0    hati hati
25      3.0    4.0    hati hati
26      3.0    4.0    hati hati
27      3.0    2.0    hati hati
28      3.0    2.0    hati hati
29      4.0    3.0    hati hati
...     ...    ...          ...
1215    2.0    3.0  tidak lulus
1216    4.0    3.0  tidak lulus
1217    4.0    3.0  tidak lulus
1218    3.0    4.0  tidak lulus
1219    3.0    4.0  tidak lulus
1220    4.0    3.0  tidak lulus
1221    3.0    4.0  tidak lulus
1222    3.0    4.0  tidak lulus
1223    4.0    3.0  tidak lulus
1224    4.0    3.0  tidak lulus
1225    4.0    3.0  tidak lulus
1226    4.0    3.0  tidak lulus
1227    2.0    3.0  tidak lulus
1228    2.0    3.0  tidak lulus
1229    4.0    3.0  tidak lulus
1230    2.0    3.0  tidak lulus
1231    4.0    3.0  tidak lulus
1232    3.0    4.0  tidak lulus
1233    4.0    3.0  tidak lulus
1234    3.0    4.0  tidak lulus
1235    4.0    3.0  tidak lulus
1236    4.0    3.0  tidak lulus
1237    3.0    4.0  tidak lulus
1238    2.0    3.0  tidak lulus
1239    2.0    4.0  tidak lulus
1240    4.0    3.0  tidak lulus
1241    4.0    3.0  tidak lulus
1242    2.0    3.0  tidak lulus
1243    3.0    4.0  tidak lulus
1244    3.0    4.0  tidak lulus

[1245 rows x 3 columns]

In [35]:
anum_df['y'] = anum_df['y'].replace("hati hati", 1)
anum_df['y'] = anum_df['y'].replace("lulus", 2)
anum_df['y'] = anum_df['y'].replace("tidak lulus", 0)

In [36]:
anum_df

      pras1  pras2  y
0       3.0    2.0  1
1       3.0    2.0  1
2       4.0    4.0  1
3       4.0    4.0  1
4       4.0    4.0  1
5       4.0    4.0  1
6       4.0    4.0  1
7       4.0    4.0  1
8       3.0    4.0  1
9       3.0    4.0  1
10      3.0    4.0  1
11      4.0    3.0  2
12      4.0    3.0  2
13      4.0    3.0  2
14      4.0    3.0  2
15      4.0    3.0  1
16      4.0    3.0  1
17      2.0    2.0  1
18      2.0    2.0  1
19      2.0    2.0  1
20      2.0    3.0  2
21      2.0    3.0  2
22      2.0    3.0  2
23      4.0    4.0  1
24      4.0    4.0  1
25      3.0    4.0  1
26      3.0    4.0  1
27      3.0    2.0  1
28      3.0    2.0  1
29      4.0    3.0  1
...     ...    ... ..
1215    2.0    3.0  0
1216    4.0    3.0  0
1217    4.0    3.0  0
1218    3.0    4.0  0
1219    3.0    4.0  0
1220    4.0    3.0  0
1221    3.0    4.0  0
1222    3.0    4.0  0
1223    4.0    3.0  0
1224    4.0    3.0  0
1225    4.0    3.0  0
1226    4.0    3.0  0
1227    2.0    3.0  0
1228    2.0    3.0  0
1229    4.0    3.0  0
1230    2.0    3.0  0
1231    4.0    3.0  0
1232    3.0    4.0  0
1233    4.0    3.0  0
1234    3.0    4.0  0
1235    4.0    3.0  0
1236    4.0    3.0  0
1237    3.0    4.0  0
1238    2.0    3.0  0
1239    2.0    4.0  0
1240    4.0    3.0  0
1241    4.0    3.0  0
1242    2.0    3.0  0
1243    3.0    4.0  0
1244    3.0    4.0  0

[1245 rows x 3 columns]

In [40]:
anum_df.groupby('y').count()

             pras1  pras2
y
hati hati      415    415
lulus          415    415
tidak lulus    415    415

In [30]:
X = anum_df[['pras1', 'pras2']]
y = anum_df['hasil']
sm = SMOTE()
X_res, y_res = sm.fit_sample(X, y)
X_res = np.round(X_res)
y_res = np.round(y_res)
synthetic_df = pd.DataFrame(X_res)
synthetic_df.columns = X.columns
synthetic_df['y'] = y_res

In [31]:
synthetic_df.groupby('y').count()

   pras1  pras2
y
0    415    415
1    415    415
2    415    415

In [32]:
synthetic_df['y'] = synthetic_df['y'].replace(1, "hati hati")
synthetic_df['y'] = synthetic_df['y'].replace(2, "lulus")
synthetic_df['y'] = synthetic_df['y'].replace(0, "tidak lulus")

In [33]:
synthetic_df.groupby('y').count()

             pras1  pras2
y
hati hati      415    415
lulus          415    415
tidak lulus    415    415

In [22]:
synthetic_df.to_csv('anum.csv', index=False)

In [42]:
import os.path
import pickle
import pandas as pd
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn import tree

In [46]:
clf = tree.DecisionTreeClassifier()
features = anum_df.loc[:, :'pras2']
target = anum_df.loc[:, 'y']
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.33, random_state=10)

clf.fit(features_train, target_train)
target_pred = clf.predict(features_test)
accuracy = accuracy_score(target_test, target_pred, normalize=True)

In [47]:
accuracy

0.48905109489051096

In [48]:
import graphviz 
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data)